name: Create Release

on:
  workflow_dispatch:
    inputs:
      version_bump:
        description: "Specify the version number bump"
        required: false
        type: choice
        options:
          - minor
          - major
          - patch

jobs:
  tag-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: rymndhng/release-on-push-action@aebba2bbce07a9474bf95e8710e5ee8a9e922fe2 # v0.28.0
        id: tag-release
        with:
          bump_version_scheme: ${{ github.event.inputs.version_bump }}
          use_github_release_notes: true