name: Publish package

on:
  workflow_run:
    workflows: ["Create Release"]
    types:
      - completed

jobs:
  publish-package:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: '3.14'

      - run: pip install -U setuptools twine wheel

      - name: Read version
        id: read-version
        run: |
          git checkout main
          tag_name=$(git describe --tags --exact-match)
          version=${tag_name#v}
          echo "$version" > volue_insight_timeseries/VERSION
          echo "VERSION=$version" >> "$GITHUB_OUTPUT"

      - name: Build dist
        id: build-dist
        run: |
          rm -rf dist
          python setup.py sdist bdist_wheel

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
