name: Publish package

on:
  workflow_run:
    workflows: ["Create Release"]
    types:
      - completed

jobs:
  publish-package:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.11'

      - run: pip install -U twine wheel

      - name: Read version
        id: read-version
        run: |
          git checkout main
          tag_name=$(git describe --tags --exact-match)
          version=${tag_name#v}
          echo "$version" > volue_insight_timeseries/VERSION
          echo "VERSION=$version" >> "$GITHUB_OUTPUT"

      - name: Build dist
        id: build-dist
        run: |
          rm -rf dist
          python setup.py sdist bdist_wheel

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
